@media (max-width: 1200px)
  .container
    max-width: 960px
  .hero__container
    max-width: 92%
  .advantages
    &__grid
      margin-right: 30px
      grid-gap: 25px
    &__description
      margin-left: 0px
      margin-right: 0px
      margin-bottom: 0px
    &__title
      font-size: 40px
      line-height: 50px
      letter-spacing: 0.2px
    &__text
      font-size: 18px
      line-height: 32px
  .trends
    &__title
      flex-basis: 100%
      text-align: left
      margin-bottom: 20px
    &__tabs
      max-width: 100%
      &-targets
        flex-basis: 100%
        text-align: left
    &__container
      display: flex
      justify-content: center
      align-items: center
      flex-wrap: wrap
    &__content
      &--active
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: 441px 441px
      &-image
        max-width: 100%
        height: 350px
        object-fit: cover
        border-radius: 8px
      &-wrapper
        max-width: 100%
        height: 441px
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        justify-content: space-between
        overflow: hidden
        border-radius: 8px
        padding: 0px
        text-align: left
        &--last
          width: 100%
      &-plus
        margin-bottom: 15px
  .stories
    &__container
      flex-wrap: wrap
      align-items: center
      justify-content: center
    &__description
      flex-basis: 100%
      align-self: center
      align-items: center
    &__text
      max-width: 568px
      text-align: center
    &__title
      text-align: center
    &-slider
      &__item
        justify-content: center
      &__card
        max-width: 100%
  .subscribe
    margin-right: 0px
    width: 650px
  .footer
    &-wrapper
      grid-template-columns: 265px 1fr 1fr 1fr 1fr
@media (max-width: 992px)
  .container
    max-width: 700px
  a
    &:hover
      text-decoration: none
  .button
    &:hover
      animation: none
  .hero
    &__container
      max-width: 92%
      padding: 36px 0px 36px 28px
      background-position: center left 64%
      &-thank
        max-width: 92%
        padding: 36px 0px 36px 28px
        background-position: center left 64%
    &__title
      font-size: 50px
      line-height: 60px
      &-thank
        max-width: 450px
    &__text
      max-width: 450px
      font-size: 20px
      line-height: 32px
    &__button
      &:hover
        animation: none
  .header
    &__link-list
      margin-right: 20px
    &__link
      font-size: 14px
      line-height: 20px
    &__button
      padding: 10px 20px
      font-size: 14px
      line-height: 20px
      &:hover
        animation: none
  .advantages
    &__container
      flex-wrap: wrap
    &__grid
      margin-right: 0px
      grid-gap: 30px
      grid-template-columns: 1fr 320px
    &__item
      &--represented
        max-width: 100%
    &__description
      margin-left: 0px
      margin-right: 0px
      margin-bottom: 0px
      margin-top: 40px
    &__title
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      margin-bottom: 24px
      max-width: 100%
    &__text
      font-size: 20px
      line-height: 36px
      max-width: 100%
  .trends
    &__title
      flex-basis: 100%
      text-align: center
      margin-bottom: 20px
    &__tabs
      max-width: 100%
      &-targets
        flex-basis: 100%
        text-align: center
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
    &__item
      margin-right: 20px
      &:hover
        text-decoration: none
        text-decoration-color: $primarycolor
    &__content
      &--active
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 441px 441px 441px 441px
        grid-column-gap: 48px
      &-image
        max-width: 100%
        height: 350px
        object-fit: cover
        border-radius: 8px
      &-icon
        &:hover
          opacity: 1
      &-wrapper
        max-width: 100%
        height: 441px
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        justify-content: space-between
        overflow: hidden
        border-radius: 8px
        padding: 0px
        text-align: left
        &--last
          height: 441px
          width: 100%
      &-main
        &:hover
          animation: none
  .stories
    &__container
      padding-top: 74px
    &__text
      margin-bottom: 35px
    &__title
      margin-bottom: 14px
    &__description
      margin-bottom: 35px
  .newsletter
    &__description
      flex-basis: 100%
      justify-content: center
      text-align: center
    &__text
      margin-bottom: 56px
      max-width: 436px
    &__title
      margin-bottom: 14px
    &__wrapper
      flex-wrap: wrap
      justify-content: center
      align-items: center
  .subscribe
    width: 447px
    &__button
      &:hover
        animation: none
  .footer
    &-wrapper
      display: grid
      grid-column-gap: 30px
      grid-template-columns: 253px 1fr 1fr
      grid-template-rows: 265px 265px
      grid-row-gap: 48px
      
      padding-bottom: 128px
      padding-top: 62px
    &__navigation
      grid-row: 1 / 2
      grid-column: 2 / 3
    &__services
      grid-row: 1 / 2
      grid-column: 3 / 4
    &__company
      grid-row: 2 / 3
      grid-column: 2 / 3
    &__contacts
      grid-row: 2 / 3
      grid-column: 3 / 4
  .modal
    &__input
      &-group
        order: 1
    &__message
      order: 2
    &__button
      order: 6
    &__info
      order: 5
      margin-bottom: 15px
      flex-basis: 100%
@media (max-width: 768px)
  body
    padding-top: 102px
  .container
    max-width: 650px
    width: 92%
  .hero
    margin-bottom: 82px
    &__container
      max-width: 728px
    &__container
      max-width: 92%
      padding: 37px 0px 36px 18px
      background-position: center left 59%
    &__title
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      margin-bottom: 18px
      margin-top: 26px
      &-thank
        font-size: 40px
        line-height: 48px
    &__text
      max-width: 400px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
    &__button
      margin-top: 36px
      margin-bottom: 37px
    &__icons-wrapper
      margin-right: 24px
  .header
    margin-bottom: 0px
    &__container
      padding: 18px 0 18px 0px
    &__mobile-menu
      &--visible
        display: flex
        justify-content: center
        align-items: flex-start
        position: fixed
        top: 10px
        right: 10px
        overflow: auto
        box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
        max-width: 325px
        background-color: #fff
        z-index: 100
        flex-wrap: wrap
        padding: 24px 36px 24px 36px
        align-content: flex-start
    &__link-list
      display: none
      &--visible
        display: flex
        flex-direction: column
        margin: 0px
        margin-bottom: 10px
        text-align: left
        flex-basis: 100%
      &--visible li
        margin-right: 0px
        align-self: center
        margin-bottom: 10px
    &__logo
    &__button
      width: 256px
      &--visible
        display: none
    &--fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 99
      padding-top: 8px
    &__menu-close
      &--visible
        display: block
        position: absolute
        top: 20px
        right: 16px
  .menu
    &-button
      padding: 0
      width: 24px
      height: 25px
      display: flex
      align-items: center
      justify-content: space-evenly
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &--visible
        display: none
      &__line
        width: 22px
        height: 2px
        background-color: $linecolor
        border-radius: 2px
  .advantages
    margin-bottom: 41px
    &__container
      width: 92%
      max-width: 673px
    &__grid
      grid-template-columns: 1fr 1fr
    &__text
      margin-bottom: 24px
  .trends
    margin-bottom: 25px
    &__container
      width: 78% 
    &__title
      margin-bottom: 5px
    &__item
      margin-right: 35px
    &__tabs
      &-targets
        margin-bottom: 34px
    &__content
      &-image
        margin-bottom: 20px
      &-title
        margin-bottom: 6px
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 32px
        letter-spacing: 0.2px
        color: $primarytext
  .swiper
    &-slide
  .reviews
    &-slider
      &__item
        max-width: 630px
      &__profile
        margin-bottom: 10px
      &__text
        margin-top: 24px
  .stories
    margin-bottom: 80px
    &-slider
      &__item
        max-width: 100%
      &__image
        &-wrapper
          max-width: 312px 
          width: 100%
      &__description
        left: 5px
        padding: 20px 13px 0px 20px
      &__text
        max-width: 260px
  .newsletter
    &__wrapper
      padding-top: 74px
      padding-bottom: 80px
  .modal
    &__dialog
      padding: 18px 55px
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 670px)
  .footer
    &__image
      &-wrapper
        text-align: center
        justify-content: center
        align-items: center
    &-wrapper
      display: grid
      grid-column-gap: 0px
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1fr 100px 1fr
      grid-row-gap: 30px
      padding-bottom: 128px
      padding-top: 62px
    &__list
      &-link
        &:nth-last-child(1)
          margin-bottom: 0px
    &__navigation
      grid-row: 1 / 2
      grid-column: 1 / 2
      margin-right: auto
      
    &__services
      grid-row: 2 / 3
      grid-column: 1 / 2
      margin-right: auto
      
    &__company
      grid-row: 3 / 4
      grid-column: 1 / 2
      margin-right: auto
      
    &__contacts
      grid-row: 4 / 5
      grid-column: 1 / 2
      margin-right: auto
      
    &__icons
      &-wrapper
        &:nth-child(4)
          margin-right: 0px
    &__logo
      &-text
        max-width: 260px
        text-align: center
      &-icons
        grid-row: 5 / 6
        grid-column: 1 / 2
        margin-right: auto
        margin-left: auto
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        &-wrapper
          display: flex
          align-items: center
          justify-content: center
          margin-left: auto
          margin-right: auto
          text-align: center
          
        
@media (max-width: 576px)
  body
    padding-top: 96px
  .container
    width: 100%
  .modal
    &__dialog
      width: 95%
  .hero
    &__container
      max-width: 100%
      justify-content: center
      padding: 0px 20px 36px 20px
      min-height: 900px
      align-items: flex-end
      background-position: center left 71%
      border-radius: 0px
    &__description
      justify-content: center
      display: flex
      flex-wrap: wrap
      align-items: center
      text-align: center
    &__hash
      flex-basis: 100%
      min-width: 196px
      padding: 2px 26px 2px 26px
    &__title
      flex-basis: 100%
      margin-bottom: 20px
      margin-top: 20px
    &__text
      margin-top: 0px
      margin-bottom: 24px
    &__button
      margin-top: 24px
      margin-bottom: 22px
    &__icons
      justify-content: center
      flex-wrap: wrap
      &-wrapper
        &:nth-child(2)
          margin-right: 0px
        &:nth-child(3)
          flex-basis: 100%
          margin-top: 16px
          justify-content: center
          margin-right: 0px
  .trends
    &__container
      max-width: 92%
    &__content
      &--active
        grid-column-gap: 15px
      &-title
        margin-left: 0px
        font-size: 18px
        line-height: 22px
      &-price
        margin-left: 0px
    &__tabs
      &-targets
        margin-bottom: 35px
  .header
    &__container
      padding-right: 24px
      padding-left: 24px
    &__mobile-menu
      &--visible
        width: 100%
        max-width: 325px
        padding-right: 24px
        padding-left: 24px
  .advantages
    &__container
      max-width: 92%
    &__grid
      grid-template-rows: 1fr 220px
      grid-template-columns: 1fr 1fr
      grid-gap: 20px
    &__item
      grid-row: 2 / 3
      height: 100%
      &--represented
        grid-row: 1 / 2
        grid-column: 1 / 3
        height: 550px
  .reviews
    &__container
      max-width: 92%
  .stories
    &__container
      max-width: 92%
      width: 92%
    &-slider
      max-height: 100%
      height: 100%
      width: 100%
      &__image
        &-wrapper
          margin-right: 0px
          width: 100%
          max-width: 100%
      &__item
        flex-wrap: wrap
      &__card
        max-width: 100%
        width: 100%
        margin-right: 0
        margin-bottom: 24px
        &:nth-child(2)
          margin-right: 0px
          margin-bottom: 0px
  .footer
    &__container
      max-width: 92%
      width: 92%
@media (max-width: 400px)
  .footer
    &-wrapper
      display: grid
      grid-column-gap: 0px
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 167px 100px 1fr
      grid-row-gap: 30px
      padding-bottom: 128px
      padding-top: 62px
  .container
    max-width: 576px
    width: 92%
  .header
    &__container
      padding-right: 10px
      padding-left: 10px
    &__mobile-menu
      &--visible
        max-width: 325px
        width: 92%
    &__link-list
      display: none
      &--visible
        display: flex
        flex-direction: column
        margin: 0px
        margin-bottom: 10px
        text-align: left
        flex-basis: 100%
      &--visible li
        margin-right: 0px
        align-self: flex-start
        margin-bottom: 10px
    &__logo
      &--hidden
        display: none
    &__button
      width: 100%
  .hero
    margin-bottom: 64px
    &__container
      max-width: 100%
      width: 100%
      padding-right: 23px
      padding-left: 23px
      background-position: center left 75%
      background-image: url(../img/hero-image.jpg)
      background-size: cover
    &__hash
      margin-bottom: 22px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 32px
      line-height: 40px
      margin-bottom: 16px
      margin-top: -1px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      max-width: 280px
      margin-top: 1px 
      margin-bottom: 2px
    &__button
      padding: 13px 49px
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      margin-top: 24px
      margin-bottom: 22px
    &__icon
      width: 24px
      height: 24px
    &__icon
      margin-right: 10px
    &__icons
      justify-content: center
      flex-wrap: wrap
      &-wrapper
        margin-right: 16px
        &:nth-child(1)
          margin-right: 13px
  .advantages
    margin-bottom: 39px
    &__container
      max-width: 92%
      justify-content: center
    &__grid
      grid-template-rows: 1fr 100px
      grid-template-columns: 1fr 1fr
      grid-gap: 14px
    &__item
      grid-row: 2 / 3
      height: 100%
      &--represented
        grid-row: 1 / 2
        grid-column: 1 / 3
        height: 300px
    &__description
      align-items: center
      text-align: center
      display: flex
      flex-direction: column
      margin-top: 33px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
      letter-spacing: 0.2px
      max-width: 290px
      margin-bottom: 19px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      max-width: 280px
  .swiper
    &-slide
      &::before
        width: 70px
        height: 81px
        background-size: contain
    &-pagination
      width: 47px
  .reviews
    padding-top: 20px
    &-slider
      &__item
        max-width: 280px
        margin-top: 77px
      &__text
        font-weight: normal
        font-size: 18px
        line-height: 36px
        text-align: center
        letter-spacing: 0.12px
        margin-top: 8px
      &__profile
        font-size: 20px
        line-height: 24px
        max-width: 145px
        
      &__additional-text
        display: none
  .subscribe
    position: static
    max-width: 100%
    width: 100%
    &__input
      max-height: 48px
      height: 48px
      position: static
      padding-right: 15px
    &__button
      position: static
      width: 100%
      z-index: 1
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
  .newsletter
    &__title
      font-size: 28px
      line-height: 36px
    &__text
      font-size: 16px
      line-height: 28px
    &__description
      max-width: 100%
      width: 100%
    &__wrapper
      padding-bottom: 150px
    &__input
      &__group
        width: 100%
        margin-bottom: 10px
  .invalid[for='emailNews']
    position: static
  .footer
    padding-top: 0px
    padding-bottom: 73px
    &__navigation
      margin-left: 12px
    &__services
      margin-left: 12px
    &__company
      margin-left: 12px
    &__contacts
      margin-left: 12px
    &-wrapper
      grid-row-gap: 31px
      padding-top: 48px
    &__title
      font-size: 16px
      line-height: 22px
    &__list
      margin-top: 20px
      &-link
        font-size: 14px
        line-height: 20px
        margin-bottom: 15px
        &:nth-last-child(1)
          margin-bottom: 0px
          
    &__logo
      &-text
        font-size: 14px
        line-height: 24px
        margin-bottom: 16px
    &__image
      &-wrapper
        width: 90px
        height: 28px
        margin-bottom: 16px
    &__icons
      &-wrapper
        width: 42px
        height: 40px
  .modal
    &__dialog
      padding: 18px 25px
    &__input
      &-group
        order: 1
    &__message
      order: 2
    &__button
      order: 6
    &__info
      order: 5
      margin-bottom: 15px
    &__title
      &--inline
        min-width: 168px
        margin-bottom: 20px
@media (max-width: 330px)
  .hero
    margin-bottom: 61px
    &__container
      max-width: 100%
      width: 100%
      padding-right: 23px
      padding-left: 23px
      background-position: center bottom 40%
      background-image: url(../img/hero-image-mobile.jpg)
      background-size: 100% 100%
  .advantages
    margin-bottom: 38px
    &__description
      margin-top: 36px
  .trends
    margin-bottom: 19px
    &__container
      max-width: 92%
    &__title
      font-size: 28px
      line-height: 36px
    &__item
      font-size: 16px
      line-height: 22px
      margin-right: 18px
    &__tabs
      margin-top: 19px
    &__content
      &-price
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 24px
        margin-left: 0px
      &-text
        font-style: normal
        font-weight: bold
        font-size: 17px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        margin-bottom: 23px
        margin-top: 0px
      &-plus
        height: 32px
        width: 25px
        margin-bottom: 15px
      &-wrapper
        height: 235px
        justify-content: flex-start
        &--last
          height: 235px
          align-items: flex-start
      &-main
        height: 170px
        align-content: flex-end
      &-title
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.2px
        margin-bottom: 3px
        margin-left: 0px
      &-icon
        margin-right: 0px
        width: 14px
        height: 14px
        margin-left: 9px
        margin-top: 5.5px
      &-image
        height: 170px
        margin-bottom: 13px
      &--active
        grid-column-gap: 10px
        grid-template-rows: 235px 235px 235px 235px
        grid-row-gap: 19px
    &__tabs
      &-targets
        margin-bottom: 19px
  .stories 
    margin-bottom: 65px
    &__description
      margin-bottom: 26px
    &__button
      &-prev
        min-width: 48px
        min-height: 48px
      &-next
        min-width: 48px
        min-height: 48px
    &__container
      padding-top: 14px
    &__hidden-text
      display: none
    &__title
      font-size: 28px
      line-height: 36px
    &__text
      font-size: 16px
      line-height: 28px
    &__hash
      padding: 2px 12px 2px 12px
      &-text
        font-weight: 600
        font-size: 14px
        line-height: 20px
    &-slider
      &__item
        max-width: 89%
      &__card
        height: 407px
      &__image
        &-wrapper
          height: 277px
      &__description
        height: 150px
        padding: 20px 0px 0px 14px
      &__text
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.2px
        max-width: 280px
        margin-bottom: 17px
      &__link
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 22px
  .newsletter
    &__wrapper
      padding-bottom: 115px
      padding-top: 66px
    &__title
      margin-bottom: 23px
    &__text
      margin-bottom: 34px
  .footer
    &__container
      max-width: 88%
  .header
    &--fixed
      padding-top: 20px
  body
    padding-top: 89px
  .reviews
    &-slider
      &__profile
        margin-bottom: 5px
        margin-top: 6px
  .stories
    &__container
      padding-top: 46px
  .reviews
    padding-bottom: 43px
  .header
    &__container
      padding-right: 12px
    &--fixed
      padding-top: 0px
  .hero
    &__icon
      &-text
        margin-bottom: 3px
  
  
  