.trends
  &__title
    flex-basis: 100%
    text-align: left
  &__tabs
    &-targets
      flex-basis: 100%
      text-align: left
  &__container
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
  &__title
    font-family: 'HK Grotesk', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $primarytext
  &__tabs
    list-style: none
    padding: 0px
    display: flex
    align-items: center
  &__item
    cursor: pointer
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 25px
    color: $ordinarytext
    margin-right: 38px
    &:nth-child(3)
      margin-right: 0px
    &--active
      font-weight: bold
      color: $primarytext
  &__content
    list-style-type: none
    display: none
    &-wrapper
      width: 260px
      height: 441px
      display: flex
      align-items: flex-start
      flex-wrap: wrap
      justify-content: space-between
      overflow: hidden
      border-radius: 8px
      padding: 0px
      text-align: left
      &--last
        background-color: #fff
        border-radius: 8px
        height: 441px
        width: 260px
        display: flex
        align-items: flex-start
        justify-content: space-between
        padding: 0px
    &-plus
      flex-basis: 100%
      width: 28px
      height: 37px
      margin-bottom: 25px
    &-text
      font-family: 'HK Grotesk', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 32px
      text-align: center
      letter-spacing: 0.2px
      margin: 0px
    &-main
      width: 260px
      height: 350px
      border-radius: 8px
      background-color: $primarycolor
      color: #ffffff
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      align-content: center
      cursor: pointer
    &-title
      margin: 0px
      flex-basis: 100%
      margin-left: 10px
    &-price
      margin-left: 10px
    &-icon
      margin-right: 10px
    &-image
      width: 260px
      height: 350px
      object-fit: cover
      border-radius: 8px
    &--active
      display: grid
      grid-template-columns: 260px 260px 260px 260px
      grid-column-gap: 30px
      grid-template-rows: 441px 441px
      grid-row-gap: 50px